$base_color: #182336;
$fonts_primary_color-title: #00d4ff;
$fonts_primary_color-base: #fff;
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(24,35,54,1) 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerMain{ 
    background-color: $base_color;
    width: 80vw;
    height: 90vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.contentFirst{
    border: 1px solid yellow;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 10px;
    height: 80%;
    padding: 80px;
}

.contentFirst_Header {
    border: 1px solid green;
    color: $fonts_primary_color-title;
}

.contentFirst_Header h3 {
    color: $fonts_primary_color-base;
}

.contentFist_Info {
    margin-top: 15px;
}
.info {
    color: $fonts_primary_color-base;
}
.info h2 {
    color: $fonts_primary_color-title;
}